{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Plannerd</h1>
    <p class="lead">Where your dissertation planning journey begins!</p>
    <p>
      Try registering your modules <a href="/modules">here</a>
      <br>
      See the time you have for working in your modules and dissertation <a href="/workload">here</a>
      <br>
      Get a suggested timetable to organize your time <a href="/calendar">here</a>
   </p>

  </div>
{% endblock %}
