{% extends 'layout.html' %}

    {% block body %}

    <h2>Register a new module</h2>

    <p class="lead">
        <form method="POST" action="create" novalidate>
            {{ form.csrf_token }}
            {{ form.module.label (class_="form-label") }} {{ form.module (class_="form-field") }}
            {% for error in form.module.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>
            <input class ="button" type="submit" value="Register">
        </form>
    </p>
    <span style="color: red;">{{ module_limit_message }}</span>
    <br>
    <h2>These are your registered modules:</h2>
    
    <br>
    <p class="lead">
        {% for key,value in df.iterrows() %}
        <ul>
            <span style="font-size: 20px;"><li>{{ value['module'] }}</li></span>
        </ul>
        {%endfor%} 
    </p>
    <br>
{% endblock %}