{% extends 'layout.html' %}

{% block body %}
    <h1>Workload Calculator</h1>
    <br>
    <p> We are going to ask you a couple of questions to help you plan your work. Ask as honestly as possible, and if you don't know a value, put an estimate</p></p>
    <br>
    <p class="lead">
        <form method="POST" action="submit" novalidate>
            {{ form.csrf_token }}
            {{ form.module_number.label }} {{ form.module_number(size=1) }}
            {% for error in form.module_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>
            {{ form.hours_in_dissertation.label }} {{ form.hours_in_dissertation(size=3) }}
            {% for error in form.hours_in_dissertation.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>

        </br>
        </br>
        Check the boxes if you already attended that module
        </br>
        </br>

        {{ form.module_1_boolean }} {{ form.module_1_boolean.label }}</br>
        {{ form.module_2_boolean }} {{ form.module_2_boolean.label }}</br>
        {{ form.module_3_boolean }} {{ form.module_3_boolean.label }}</br>
        {{ form.module_4_boolean }} {{ form.module_4_boolean.label }}</br>
        {{ form.module_5_boolean }} {{ form.module_5_boolean.label }}</br>
        {{ form.module_6_boolean }} {{ form.module_6_boolean.label }}</br>
        {{ form.module_7_boolean }} {{ form.module_7_boolean.label }}</br>
        {{ form.module_8_boolean }} {{ form.module_8_boolean.label }}</br>
        {{ form.module_9_boolean }} {{ form.module_9_boolean.label }}</br>
        {{ form.module_10_boolean }} {{ form.module_10_boolean.label }}</br>

        </br>
        Input your percentage of work done on each module's PMA
        </br>
        </br>

            {{ form.module_1_PMA_percentage.label }} {{ form.module_1_PMA_percentage(size=3) }}
            {% for error in form.module_1_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>

            {{ form.module_2_PMA_percentage.label }} {{ form.module_2_PMA_percentage(size=3) }}
            {% for error in form.module_2_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>

            {{ form.module_3_PMA_percentage.label }} {{ form.module_3_PMA_percentage(size=3) }}
            {% for error in form.module_3_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>

            {{ form.module_4_PMA_percentage.label }} {{ form.module_4_PMA_percentage(size=3) }}
            {% for error in form.module_4_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>            

            {{ form.module_5_PMA_percentage.label }} {{ form.module_5_PMA_percentage(size=3) }}
            {% for error in form.module_5_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>     

            {{ form.module_6_PMA_percentage.label }} {{ form.module_6_PMA_percentage(size=3) }}
            {% for error in form.module_6_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>           

            {{ form.module_7_PMA_percentage.label }} {{ form.module_7_PMA_percentage(size=3) }}
            {% for error in form.module_7_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>     

            {{ form.module_8_PMA_percentage.label }} {{ form.module_8_PMA_percentage(size=3) }}
            {% for error in form.module_8_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>        

            {{ form.module_9_PMA_percentage.label }} {{ form.module_9_PMA_percentage(size=3) }}
            {% for error in form.module_9_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>       

            {{ form.module_10_PMA_percentage.label }} {{ form.module_10_PMA_percentage(size=3) }}
            {% for error in form.module_10_PMA_percentage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>            
            
            </br>
            <input type="submit" value="Submit">
        </form>
    </p>

{% endblock %}
